.corpo {
    background: url('../image/estufa2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.corpofundo {
    background-color: white;
    background-size: cover;
}

.corpogeral {
    background-color: darkolivegreen;
    background-size: cover;
}

.create-form {
    padding: 10%;
    color: white;
    font-family: sans-serif;
}

.table {
    color: white;
}

.custom-select {
    color: black !important;
    /*é zuado mas funcionou*/
}

.quantidade {
    color: black !important;
}

.inicio {
    padding: 10%;
    margin-top: 10px;
    color: white;
}

.molde {
    padding: 10%;
}