:root {
    font-size: 16px;
    font-family: 'Gilroy Light'!important;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy Light'!important;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-left: 5rem!important;
    padding: 1rem!important;
  }
  
  .navbar {
    position: fixed!important;
    background-color: var(--bg-primary)!important;
    transition: width 600ms ease!important;
    overflow: hidden!important;
    padding: 0rem 0rem!important;
    display: block!important;

  }
  
  .navbar-nav {
    list-style: none!important;
    padding: 0!important;
    margin: 0!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    height: 100%!important;
  }
  
  .nav-item {
    width: 100%!important;
  }
  
  .nav-item:last-child {
    margin-top: auto!important;
  }
  
  .nav-link {
    display: flex!important;
    align-items: center!important;
    height: 5rem!important;
    color: var(--text-primary)!important;
    text-decoration: none!important;
    filter: grayscale(100%) opacity(0.7)!important;
    transition: var(--transition-speed)!important;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1)!important;
    background: var(--bg-secondary)!important;
    color: var(--text-secondary)!important;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    font-family: 'Gilroy SemiBold';
    text-transform: uppercase;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #0dce00;
  }
  
  .fa-secondary {
    color: #0aa000;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-360deg)!important;
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0!important;
      width: 100vw!important;
      height: 5rem!important;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row!important;
    }
  
    .nav-link {
      justify-content: center!important;
    }
  
    main {
      margin: 0!important;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0!important;
      width: 5rem!important;
      height: 100vh!important;
    }
  
    .navbar:hover {
      width: 16rem!important;
    }
  
    .navbar:hover .link-text {
      display: inline!important;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem!important;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px!important;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }

  .green {
    --text-primary: white;
    --text-secondary: white;
    --bg-primary: black;
    --bg-secondary: #005f03;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }

  .green #greenIcon {
    display: block;
  }

.titleHome{
    font-size: 33px;
    color: #848484;
    margin-bottom: 6vh;
    font-family: 'Gilroy SemiBold';
}

.titleHome:hover{
    color: #0aa000;
}


.colOrientation{
    text-align: center;
    background: white;
    box-shadow:0px 0px 0px 0px rgba(0,0,0,.5) inset,
               0px 0px 10px -1px rgba(0,0,0,.2), 
               0px 4px 0px -2px rgba(0,0,0,.15), 
               0px 6px 0px -3px rgba(0,0,0,.1), 
               0px 8px 0px -4px rgba(0,0,0,.05);
    transition: box-shadow .3s ease-out;
    transition: 0.7s;
    border-radius: 10px;
}
#cardTemp:hover{
    background: #580000;
    color: white !important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.9) inset,
                0px 4px 0px -2px rgba(0,6,0,.2),
                0px 8px 0px -4px rgba(0,0,0,.15),
                0px 12px 0px -6px rgba(0,0,0,.1),
                0px 16px 0px -8px rgba(0,0,0,.05);
}

.titleCards{
    text-align: left;
    font-size: 18px;
    margin-top: 2vh;
    margin-bottom: 0vh;
    color: #848484;
    transition: 0.7s;

}

.descCards{
    text-align: center;
    font-size: 80px;
    margin-top: 0vh;
    margin-bottom: 0vh;
    color:#580000;
    font-family: 'Gilroy Medium';
    transition: 0.7s;
}


.desc2Cards{
    text-align: center;
    font-size: 13px;
    margin-top: 0vh;
    font-style: italic;
    margin-bottom: 2vh;
    color: #848484;
    transition: 0.7s;

}

#cardTemp:hover{
  background: #580000;
  color: white !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.9) inset,
              0px 4px 0px -2px rgba(0,6,0,.2),
              0px 8px 0px -4px rgba(0,0,0,.15),
              0px 12px 0px -6px rgba(0,0,0,.1),
              0px 16px 0px -8px rgba(0,0,0,.05);
}

#cardTemp:hover p{
  color: white;
}


#cardUmi:hover{
  background: #000b58;
  color: white !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.9) inset,
              0px 4px 0px -2px rgba(0,6,0,.2),
              0px 8px 0px -4px rgba(0,0,0,.15),
              0px 12px 0px -6px rgba(0,0,0,.1),
              0px 16px 0px -8px rgba(0,0,0,.05);
}

#cardUmi:hover p{
  color: white;
}

.descCardUmi{
  text-align: center;
  font-size: 80px;
  margin-top: 0vh;
  margin-bottom: 0vh;
  color:#000b58;
  font-family: 'Gilroy Medium';
  transition: 0.7s;
}

#cardPress:hover{
  background: #005817;
  color: white !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.9) inset,
              0px 4px 0px -2px rgba(0,6,0,.2),
              0px 8px 0px -4px rgba(0,0,0,.15),
              0px 12px 0px -6px rgba(0,0,0,.1),
              0px 16px 0px -8px rgba(0,0,0,.05);
}

#cardPress:hover p{
  color: white;
}

.descCardPress{
  text-align: center;
  font-size: 80px;
  margin-top: 0vh;
  margin-bottom: 0vh;
  color:#005817;
  font-family: 'Gilroy Medium';
  transition: 0.7s;
}